<!--# ルーティング	:リンク生成メソッドの使用例	:生成されるリンク-->
<!--# index       	:tasks_path	                :/tasks-->
<!--# show        	:task_path(@task)         	:/tasks/1 など-->
<!--# new	          :new_task_path	            :/tasks/new-->
<!--# edit	        :edit_task_path(@task)      :/tasks/1/edit など-->

<h1>メッセージ新規作成ページ</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :content, 'メッセージ' %>
  <%= f.text_field :content %>

  <%= f.submit '投稿' %>
<% end %>

<%= link_to '一覧に戻る', tasks_path %>