<!--# ルーティング	:リンク生成メソッドの使用例	:生成されるリンク-->
<!--# index       	:tasks_path	                :/tasks-->
<!--# show        	:task_path(@task)         	:/tasks/1 など-->
<!--# new	          :new_task_path	            :/tasks/new-->
<!--# edit	        :edit_task_path(@task)      :/tasks/1/edit など-->

<h1>id: <%= @task.id %> のタスク詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td>
      <% case @task.status
          when "unexecuted" %>
        未実施
      <% when "progress" %>
        実施中
      <% when "done" %>
        完了
      <% end %>
    </td>
  </tr>
  <tr>
    <th>タスク</th>
    <td><%= @task.content %></td>
  </tr>
</table>

<%= link_to 'このタスクを編集する', edit_task_path(@task), class: 'btn btn-default' %>
<%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>